.parallax-container {
    min-height: 280px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.call-to-action {
    margin-top: 80px;
    font-weight: bold;
}


.parallax img{
    display: inherit !important;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}
