<div class="row">
    <div class="col s12 m12 l12">
        <h4 class="brown-text">Our Mission</h4>
        <p>The purpose of the Michaux-St. James Foundation is to promote for the benefit of the general public the
            preservation and improvement of historical, cultural and natural resources principally but not limited to
            Northern Powhatan County, specifically the Michaux and Fine Creek Areas. The 501 C Corporation is organized
            exclusively for educational, charitable, scientific, conservation, historical and literary purposes.</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <h4 class="brown-text">Our People</h4>
        <p>Over the past decade, over 200 neighbors and community members have donated their time and made charitable
            donations to help with the restoration and preservation of numerous historic Powhatan County properties.
            These generous people make up the backbone of our organization and are true heroes in our community</p>
    </div>
</div>
<div class="row">
    <h4 class="brown-text">Our Leaders</h4>
    <div class="col s12 m4 l4">
        <h6 class="brown-text">Officers</h6>
        <p>Carson Tucker, President Emeritus </p>
        <p>Ron Pflugrath, President</p>
        <p>Sara Corbett, Vice President</p>
        <p>Scott Morrison, Secretary</p>
        <p>Tony Silver, Treasurer</p>
    </div>
    <div class="col s12 m4 l4">
        <h6 class="brown-text">Directors</h6>
        <p>Dale Call</p>
        <p>Michaux Buchanan</p>
        <p>Alex Broome</p>
        <p>Richard F. O'Hare</p>
        <p>Jeff Onder</p>
    </div>
    <div class="col s12 m4 l4">
        <h6 class="brown-text">Special Thanks To</h6>
        <p>Don Lillywhite, Former President</p>
        <p>Pat Meek, Former President</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <h4 class="brown-text">Become part of the group! <a href="#!/membership">Join Today</a></h4>
    </div>
</div>
