<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../static/images/header-placeholder.png" alt="background img 1"></div>
</div>

<nav>
    <div class="nav-wrapper brown darken-1">
        <a href="#!" class="brand-logo">Michaux-St.James Foundation</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#!">Current Events</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="wedding_dropdown">Weddings<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#!">Restoration</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="history_dropdown">History<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#!/membership">Membership</a></li>
            <li><a href="#!/aboutus">About Us</a></li>
        </ul>
    </div>
</nav>
<div class="dropdowns">
    <ul id="wedding_dropdown" class="dropdown-content">
        <li><a class="brown-text" href="#!">Information and Photos</a></li>
        <li><a class="brown-text" href="#!">Book a Chapel Tour</a></li>
    </ul>
    <ul id="history_dropdown" class="dropdown-content">
        <li><a class="brown-text" href="#!">Michaux Family</a></li>
        <li><a class="brown-text" href="#!">Foundation</a></li>
        <li><a class="brown-text" href="#!">Local</a></li>
    </ul>
    <ul id="membership_dropdown" class="dropdown-content">
        <li><a class="brown-text" href="#!">New Membership</a></li>
        <li><a class="brown-text" href="#!">Renew Membership</a></li>
        <li><a class="brown-text" href="#!">Gift a Membership</a></li>
    </ul>
</div>