<div class="row">
    <div class="col s12 m9">
        <h3 class="header brown-text">Current Newsletter</h3>
        <div class="card horizontal">
            <div class="card-image">
                <img src="../static/images/sallie_michaux__house.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>We are very proud to let members and friends of the Michaux St. James Foundation (MSJF) know
                        that together, we have fully completed ALL of the historical restoration work on the
                        beautiful Sallie W. Michaux House (circa 1868).<br><br>
                        How appropriate an accomplishment as the Sallie Michaux House turns 150 years old in the
                        next year. <br><br>
                        There are many people who deserve lots of thanks for this huge accomplishment, but first and
                        foremost we must thank Carson Tucker who loaned and donated significant funds to allow the
                        MSJ Foundation to purchase the home in 2009.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Continue Reading</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 hide-on-small-only call-to-action">
        <div class="card">
            <div class="card-image">
                <img src="../static/images/msjf_chapel.jpg">
                <span class="card-title center"><a class="white-text" href="#!/membership">Click to join MSJF!</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m9">
        <h3 class="header brown-text">Upcoming Event</h3>
        <div class="card horizontal">
            <div class="card-image">
                <img src="../static/images/msjf_bluegrass.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>On Saturday, October 14th at 5PM – We are so very excited to have our first “Spaghetti
                        Dinner” to be prepared in the recently restored Sallie Michaux House kitchen.
                        <br>
                        Please call Sara at 598-3590 or email her at semcorbett@gmail.com to make your reservations
                        (we need to get a head count for this first Spaghetti dinner so we are well prepared).
                        <br>
                        Please let Sara
                        know if you can help the day of the event. Cost will be $15 per person and includes; dinner,
                        wine and beer.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">View All Events</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 hide-on-small-only call-to-action">
        <div class="card">
            <div class="card-image">
                <img src="../static/images/small_image_placeholder.png">
                <span class="card-title center"><a class="white-text"
                                                   href="#">View Michaux Family Geneology !</a></span>
            </div>
        </div>
    </div>
</div>