<div class="row">
    <div class=col s12 m12 l12>
        <h3 class="center brown-text">Get Involved</h3>
        <p>The Michaux-St. James Foundation has a high level of civic engagement in creating a strong and caring
            community. Each new member adds strength to our organization, and together we provide a powerful collective
            voice on behalf of historic and environmental preservation. Our success depends on the support and
            involvement of many people and organizations. Your membership contribution or charitable gift will be used
            to continue and increase our historic preservation programs and community services in the Powhatan
            region. </p>
        <p>Family memberships are only $25 annually. You may complete the form below if you would like to pay online by
            credit or debit card. If you would prefer to print your application and mail it to us along with your check:
            <a href="">click here </a></p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content">
                <span class="card-title center brown-text">Support Our Efforts:</span>
                <ul class="browser-default">
                    <li>Revitalize and stand guard over architectural landmarks of Powhatan County.</li>
                    <li>Provide a public meeting place via the St. James Community Center.</li>
                    <li>Provide assistance to community organizations and neighborhood groups.</li>
                    <li>Create tours, publications, and educational programs featuring the history and architecture of
                        the Powhatan region.
                    </li>
                    <li>Contribute to the economy of central Virginia by developing resources based on our architectural
                        and cultural heritage and the good use of our rivers.
                    </li>
                    <li>Evaluate future development proposals as an advocate for the preservation of the Powhatan
                        region's special character.
                    </li>
                    <li>Continue a well-managed, responsive, and creative membership organization with the ability to
                        implement these goals on a long-range basis.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content">
                <span class="card-title center brown-text">Membership Benefits:</span>
                <ul class="browser-default">
                    <li>A free subscription to our quarterly newsletter featuring current
                        projects, important issues and events.
                    </li>
                    <li>The opportunity to work with MSJF to realize benefits for you and your
                        family.
                    </li>
                    <li>News updates plus invitations to all MSJF sponsored events and
                        activities.
                    </li>
                    <li>Opportunities to hold your own special events at the St. James Community
                        Center.
                    </li>
                    <li>Free access to the MSJF archives, images, and reference materials.</li>
                    <li>The satisfaction of knowing that you are supporting one of the region's
                        most innovative and community-focused organizations.
                    </li>
                    <li>Many rewarding volunteer opportunities.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="divider brown-text"></div>
<div class="row">
    <div class="card-panel">
        <h4 class="center brown-text">Membership Form</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name" type="text" class="validate" ng-model="newMember.first_name">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="last_name" type="text" class="validate" ng-model="newMember.last_name">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" type="text" class="validate" ng-model="newMember.mailing_address">
                        <label for="address">Mailing Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="city" type="text" class="validate" ng-model="newMember.city">
                        <label for="city">City</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="state" type="text" class="validate" ng-model="newMember.state">
                        <label for="state">State</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="zip" type="text" class="validate" ng-model="newMember.zipcode">
                        <label for="zip">Zip Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="email" type="email" class="validate" ng-model="newMember.email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field ">
                        <input id="phone" type="tel" class="validate" ng-model="newMember.phone">
                        <label for="phone">Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light brown darken-1 right" type="submit" name="action"
                                ng-click="memberToFB()">To Payment
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>